[submodule "repo/plugin.video.wnbc"]
	path = repo/plugin.video.wnbc
	url = https://github.com/Arias800/plugin.video.wnbc
[submodule "repo/plugin.video.crunchyroll"]
	path = repo/plugin.video.crunchyroll
	url = https://github.com/MrKrabat/plugin.video.crunchyroll/
	branch = matrix
[submodule "repo/service.discord.richpresence"]
	path = repo/service.discord.richpresence
	url = https://github.com/Hiumee/service.discord.richpresence
[submodule "repo/plugin.video.vikir"]
	path = repo/plugin.video.vikir
	url = https://github.com/Arias800/plugin.video.vikir
	branch = main
[submodule "repo/script.module.dnspython/dnspython"]
	path = repo/script.module.dnspython/dnspython
	url = https://github.com/rthalley/dnspython/
