[submodule "repo/plugin.video.wnbc"]
	path = repo/plugin.video.wnbc
	url = https://github.com/Arias800/plugin.video.wnbc
[submodule "repo/script.module.dnspython"]
	path = repo/script.module.dnspython
	url = https://github.com/Arias800/script.module.dnspython
[submodule "repo/plugin.video.artemediathek"]
	path = repo/plugin.video.artemediathek
	url = https://github.com/Arias800/plugin.video.artemediathek
